<template>
    <layout>
        <el-row>
            <el-col :span="4">
                <h1>Formulario de Veterinaria</h1>
            </el-col>
            <el-col :sapn="4" style="text-align: right;">
                <inertia-link href="/create">
                    <el-button type="primary">Nuevo</el-button>
                </inertia-link>
            </el-col>
        </el-row>

        <el-divider></el-divider>

        <el-table
            style="width: 100%">
            <el-table-column
                label="Nombre del cliente">
                <template slot-scope="scope">
                    <el-button icon="fas fa-pencil-alt" type="warning" size="mini" @click="edit(scope.row.id)"></el-button>
                    <el-button icon="fas fa-trash" type="danger" size="mini" @click="remove(scope.row.id)"></el-button>
                </template>
            </el-table-column>

            <el-table-column
                label="Contacto del cliente">
                <template slot-scope="scope">
                    <el-button icon="fas fa-pencil-alt" type="warning" size="mini" @click="edit(scope.row.id)"></el-button>
                    <el-button icon="fas fa-trash" type="danger" size="mini" @click="remove(scope.row.id)"></el-button>
                </template>
            </el-table-column>

            <el-table-column
                label="Nombre de la mascota">
                <template slot-scope="scope">
                    <el-button icon="fas fa-pencil-alt" type="warning" size="mini" @click="edit(scope.row.id)"></el-button>
                    <el-button icon="fas fa-trash" type="danger" size="mini" @click="remove(scope.row.id)"></el-button>
                </template>
            </el-table-column>

            <el-table-column
                label="Tip de mascota">
                <template slot-scope="scope">
                    <el-button icon="fas fa-pencil-alt" type="warning" size="mini" @click="edit(scope.row.id)"></el-button>
                    <el-button icon="fas fa-trash" type="danger" size="mini" @click="remove(scope.row.id)"></el-button>
                </template>
            </el-table-column>

            <el-table-column
                label="Edad de mascota">
                <template slot-scope="scope">
                    <el-button icon="fas fa-pencil-alt" type="warning" size="mini" @click="edit(scope.row.id)"></el-button>
                    <el-button icon="fas fa-trash" type="danger" size="mini" @click="remove(scope.row.id)"></el-button>
                </template>
            </el-table-column>

            <el-table-column
                label="Proposito de la cita">
                <template slot-scope="scope">
                    <el-button icon="fas fa-pencil-alt" type="warning" size="mini" @click="edit(scope.row.id)"></el-button>
                    <el-button icon="fas fa-trash" type="danger" size="mini" @click="remove(scope.row.id)"></el-button>
                </template>
            </el-table-column>

            <el-table-column
                label="Peso de la Mascota">
                <template slot-scope="scope">
                    <el-button icon="fas fa-pencil-alt" type="warning" size="mini" @click="edit(scope.row.id)"></el-button>
                    <el-button icon="fas fa-trash" type="danger" size="mini" @click="remove(scope.row.id)"></el-button>
                </template>
            </el-table-column>
        </el-table>
    </layout>




</template>
<script>
    import Layout from "../../Shared/Layout";


    export default {
        components: {
            Layout
        },
        data() {
            return {
                form:{


                },
                rules: {

                },


            }
        },
        methods: {


        },


    }
</script>

